In [1]:
import os
import pandas as pd
# Define the base path and the range of years
base_path = '../team/'
start_year = 1997
end_year = 2025
frames = []
# Loop through each year and list files in the corresponding directory
for year in range(start_year, end_year + 1):
    # Construct the path for the current year
    year_path = os.path.join(base_path, str(year))
    
    # Check if the directory exists
    if os.path.isdir(year_path):
        print(f"\nFiles in directory {year_path}:")
        
        # List all files in the directory
        for filename in os.listdir(year_path):
            file_path = os.path.join(year_path, filename)
            # Check if it is a file before printing
            if 'vs' not in filename and 'avg' not in filename:
                if '.csv' in filename:
                    
                    
                    df=pd.read_csv(file_path)
                    if len(df)>0:
                        #print(filename)
                        df['year']=year
                        frames.append(df)
        print(year)

    else:
        print(f"\nDirectory {year_path} does not exist.")

master=pd.concat(frames)
master

Files in directory ../team/1997:
1997

Files in directory ../team/1998:
1998

Files in directory ../team/1999:
1999

Files in directory ../team/2000:
2000

Files in directory ../team/2001:
2001

Files in directory ../team/2002:
2002

Files in directory ../team/2003:
2003

Files in directory ../team/2004:
2004

Files in directory ../team/2005:
2005

Files in directory ../team/2006:
2006

Files in directory ../team/2007:
2007

Files in directory ../team/2008:
2008

Files in directory ../team/2009:
2009

Files in directory ../team/2010:
2010

Files in directory ../team/2011:
2011

Files in directory ../team/2012:
2012

Files in directory ../team/2013:
2013

Files in directory ../team/2014:
2014

Files in directory ../team/2015:
2015

Files in directory ../team/2016:
2016

Files in directory ../team/2017:
2017

Files in directory ../team/2018:
2018

Files in directory ../team/2019:
2019

Files in directory ../team/2020:
2020

Files in directory ../team/2021:
2021

Files in directory ../team/2022:
2022

Files in directory ../team/2023:
2023

Files in directory ../team/2024:
2024

Files in directory ../team/2025:
2025

,PLAYER_ID,PLAYER_NAME,SHOT_ID,GRID_TYPE,GAME_ID,GAME_EVENT_ID,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,...,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM,PLAYERS_ON,year,time,extra
0,208,Sam Cassell,296000123,Shot Chart Detail,29600012,3,1610612756,Phoenix Suns,1,11,...,138,1,0,19961101,LAL,PHX,|109|170|208|445|920,1997,NaN,NaN
1,170,Joe Kleine,2960001214,Shot Chart Detail,29600012,14,1610612756,Phoenix Suns,1,10,...,45,1,0,19961101,LAL,PHX,|109|170|208|445|920,1997,NaN,NaN
2,445,Wesley Person,2960001217,Shot Chart Detail,29600012,17,1610612756,Phoenix Suns,1,9,...,158,1,0,19961101,LAL,PHX,|109|170|208|445|920,1997,NaN,NaN
3,445,Wesley Person,2960001219,Shot Chart Detail,29600012,19,1610612756,Phoenix Suns,1,9,...,212,1,0,19961101,LAL,PHX,|109|170|208|445|920,1997,NaN,NaN
4,445,Wesley Person,2960001229,Shot Chart Detail,29600012,29,1610612756,Phoenix Suns,1,8,...,0,1,1,19961101,LAL,PHX,|109|170|208|445|920,1997,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,202704,Reggie Jackson,22400255642,Shot Chart Detail,22400255,642,1610612755,Philadelphia 76ers,4,2,...,248,1,0,20241120,MEM,PHI,202704|203954|1626162|1630231|1642272,2025,27130.0,0.0
1194,1642272,Jared McCain,22400255657,Shot Chart Detail,22400255,657,1610612755,Philadelphia 76ers,4,1,...,222,1,1,20241120,MEM,PHI,202704|203954|1626162|1630231|1642272,2025,27730.0,0.0
1195,1626162,Kelly Oubre Jr.,22400255660,Shot Chart Detail,22400255,660,1610612755,Philadelphia 76ers,4,1,...,5,1,1,20241120,MEM,PHI,202704|203954|1626162|1630231|1642272,2025,27930.0,0.0
1196,203954,Joel Embiid,22400255667,Shot Chart Detail,22400255,667,1610612755,Philadelphia 76ers,4,0,...,5,1,1,20241120,MEM,PHI,202704|203954|1626162|1630231|1642272,2025,28260.0,0.0
1197,1642272,Jared McCain,22400255679,Shot Chart Detail,22400255,679,1610612755,Philadelphia 76ers,4,0,...,255,1,0,20241120,MEM,PHI,202704|203954|1626162|1630231|1642272,2025,28710.0,0.0

In [2]:
master['SHOT_ATTEMPTED_FLAG'].value_counts()
master['SHOT_MADE_FLAG'].value_counts()

0    3016164
1    2519469
Name: SHOT_MADE_FLAG, dtype: int64

In [3]:
shots = master.groupby(['year','SHOT_ZONE_RANGE','SHOT_DISTANCE']).sum(numeric_only=True)[['SHOT_ATTEMPTED_FLAG','SHOT_MADE_FLAG']].reset_index()

shots.rename(columns={'SHOT_ATTEMPTED_FLAG':'FGA','SHOT_MADE_FLAG':'FGM'},inplace=True)
shots

      year  SHOT_ZONE_RANGE  SHOT_DISTANCE   FGA   FGM
0     1997        16-24 ft.             16  6681  2734
1     1997        16-24 ft.             17  6614  2725
2     1997        16-24 ft.             18  5948  2437
3     1997        16-24 ft.             19  4944  2143
4     1997        16-24 ft.             20  2955  1466
...    ...              ...            ...   ...   ...
2759  2025  Less Than 8 ft.              4  1460   636
2760  2025  Less Than 8 ft.              5  1234   519
2761  2025  Less Than 8 ft.              6  1063   420
2762  2025  Less Than 8 ft.              7   867   354
2763  2025  Less Than 8 ft.              8     5     2

[2764 rows x 5 columns]

In [4]:
for year in range(start_year,2026):
    shot_distance=shots[shots.year==year].reset_index()
    shot_distance.drop(columns='year',inplace=True)
    shot_distance.to_csv(str(year)+'.csv',index=False)

In [5]:
master['SHOT_ZONE_RANGE'].unique()

array(['8-16 ft.', '16-24 ft.', 'Less Than 8 ft.', '24+ ft.',
       'Back Court Shot'], dtype=object)