In [1]:
import pandas as pd
from nba_api.stats.endpoints import playerfantasyprofile,playerdashboardbyteamperformance,leaguedashplayerstats

def update(year):
    season_string = str(year-1) +'-'+str(year)[-2::]
    print(season_string)
    frames = leaguedashplayerstats.LeagueDashPlayerStats(season=season_string).get_data_frames()
    df = frames[0]
    df['year'] = year
    df['GROUP_SET'] = 'Players'
    df = df.drop(columns=['TEAM_ABBREVIATION','AGE'])
    old = pd.read_csv('player_index.csv')
    old = old[old.year!=year]
    
    to_save = pd.concat([old,df])
    to_save.drop(columns=[col for col in to_save.columns if 'Unnamed' in col],inplace = True)
    return to_save
df=update(2024)
df.to_csv('player_index.csv',index = False)

2023-24

C:\Users\gaber\AppData\Local\Temp\ipykernel_41992\17245484.py:12: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  old = pd.read_csv('player_index.csv')

In [2]:
df

,GROUP_SET,PLAYER_ID,PLAYER_NAME,NICKNAME,GP,W,L,W_PCT,MIN,FGM,...,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,year,TEAM_ID,Offensive Archetype,Defensive Role
0,Players,673,Alan Henderson,Alan,30,20,10,0.667,498.358333,77,...,9,17,10,4,2,10,1997,1610612737,NaN,NaN
1,Players,292,Anthony Miller,Anthony,1,0,1,0.000,13.700000,0,...,16,12,16,7,2,16,1997,1610612737,NaN,NaN
2,Players,363,Christian Laettner,Christian,82,56,26,0.683,3133.660000,548,...,1,2,3,2,2,2,1997,1610612737,NaN,NaN
3,Players,241,Darrin Hancock,Darrin,14,11,3,0.786,87.995000,13,...,15,9,15,7,2,15,1997,1610612737,NaN,NaN
4,Players,308,Derrick Alston,Derrick,2,1,1,0.500,10.600000,0,...,16,10,17,7,2,17,1997,1610612737,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,Players,1628380,Zach Collins,Zach,47,8,39,0.170,1108.111667,205,...,152,538,151,131,28,156,2024,1610612759,NaN,NaN
543,Players,203897,Zach LaVine,Zach,25,10,15,0.400,871.861667,170,...,167,462,214,158,28,200,2024,1610612741,NaN,NaN
544,Players,1630192,Zeke Nnaji,Zeke,43,29,14,0.674,422.151667,55,...,319,494,313,218,28,321,2024,1610612743,NaN,NaN
545,Players,1630533,Ziaire Williams,Ziaire,48,20,28,0.417,942.281667,138,...,209,520,232,158,28,224,2024,1610612763,NaN,NaN
546,Players,1629627,Zion Williamson,Zion,48,28,20,0.583,1476.768333,424,...,40,105,48,50,28,51,2024,1610612740,NaN,NaN