In [1]:
import pandas as pd
import requests
import os
from nba_api.stats.static import players,teams


start_year=1997
end_year=2026

def get_dates(start_year,end_year):
    dates=[]
    for year in range(start_year,end_year):
    
        for team in teams.get_teams():
            team_id=team['id']
            path = '../team/'+str(year)+'ps/'+str(team_id)+'.csv'
            if os.path.exists(path):
                df=pd.read_csv(path)
    
                df=df[['GAME_ID','TEAM_ID','HTM','VTM','GAME_DATE']]
                df.rename(columns={'GAME_DATE':'date'},inplace=True)
                df.drop_duplicates(inplace=True)
                df['season']=str(year-1)+'-'+str(year)[-2:]
                df['playoffs']=True
                dates.append(df)
        for team in teams.get_teams():
            team_id=team['id']
            path = '../team/'+str(year)+'/'+str(team_id)+'.csv'
            if os.path.exists(path):
                df=pd.read_csv(path)
    
                df=df[['GAME_ID','TEAM_ID','HTM','VTM','GAME_DATE']]
                df.rename(columns={'GAME_DATE':'date'},inplace=True)
                df.drop_duplicates(inplace=True)
                df['season']=str(year-1)+'-'+str(year)[-2:]
                df['playoffs']=False
                dates.append(df)
                
    return pd.concat(dates)


dates=get_dates(start_year,end_year)

In [5]:
dates[dates.playoffs==False]
name_map={}
for team in teams.get_teams():

    name_map[team['id']]= team['abbreviation']

dates['team']=dates['TEAM_ID'].map(name_map)
acronym_changes = {
    "CHH": "CHA",
    "NOH": "NOP",
    "NJN": "BKN",
    "SEA": "OKC",
    "WSB": "WAS",
    "VAN": "MEM",
    "SDC": "LAC",
    "KCK": "SAC",
    "FTW": "DET",
    "SFW": "GSW",
    "STL": "ATL"
}
dates['team'] = dates['team'].replace(acronym_changes)

dates['HTM'] = dates['HTM'].replace(acronym_changes)
dates['VTM'] = dates['VTM'].replace(acronym_changes)

dates['opp_team'] = dates.apply(lambda row: row['VTM'] if row['team'] == row['HTM'] else row['HTM'], axis=1)


dates.to_csv('game_dates.csv',index=False)

In [6]:
dates[dates.team=='CHA']

,GAME_ID,TEAM_ID,HTM,VTM,date,season,playoffs,team,opp_team
0,49600001,1610612766,NYK,CHA,19970424,1996-97,True,CHA,NYK
78,49600010,1610612766,NYK,CHA,19970426,1996-97,True,CHA,NYK
155,49600017,1610612766,CHA,NYK,19970428,1996-97,True,CHA,NYK
0,29600016,1610612766,CHA,TOR,19961102,1996-97,False,CHA,TOR
81,29600025,1610612766,NYK,CHA,19961103,1996-97,False,CHA,NYK
...,...,...,...,...,...,...,...,...,...
6718,22301159,1610612766,ATL,CHA,20240410,2023-24,False,CHA,ATL
6797,22301173,1610612766,BOS,CHA,20240412,2023-24,False,CHA,BOS
6873,22301187,1610612766,CLE,CHA,20240414,2023-24,False,CHA,CLE
6964,22301211,1610612766,CHI,CHA,20231206,2023-24,False,CHA,CHI
7054,22301216,1610612766,CHA,TOR,20231208,2023-24,False,CHA,TOR