In [1]:
import pandas as pd
import requests
import os
from nba_api.stats.static import players,teams


start_year=1997
end_year=2025

frames=[]
for year in range(start_year,end_year):
    frame=pd.read_csv(str(year)+'.csv')
    if year>=2014:
        frame2=pd.read_csv(str(year)+'_2.csv')
        joined_columns = set(frame2.columns) - set(frame.columns)
        joined_columns = list(joined_columns)
        joined_columns.append('PLAYER_ID')
        joined_columns.append('date')
        frame2 = frame2[joined_columns]
        frame=frame.merge(frame2,on=['PLAYER_ID','date'],how='left')
    frames.append(frame)
df=pd.concat(frames)
df.drop_duplicates(inplace=True)
print(len(df))
def get_dates(start_year,end_year):
    dates=[]
    for year in range(start_year,end_year):
    
        for team in teams.get_teams():
            team_id=team['id']
            path = '../team/'+str(year)+'ps/'+str(team_id)+'.csv'
            if os.path.exists(path):
                df=pd.read_csv(path)
    
                df=df[['PLAYER_ID','TEAM_ID','HTM','VTM','GAME_DATE']]
                df.rename(columns={'GAME_DATE':'date'},inplace=True)
                df.drop_duplicates(inplace=True)
                dates.append(df)
    return pd.concat(dates)
    
dates=get_dates(start_year,end_year)
df=df.merge(dates,how='left').reset_index(drop=True)
home=df[df.HTM==df.TEAM_ABBREVIATION].reset_index(drop=True)
home.drop(columns='HTM',inplace=True)

home.rename(columns={'VTM':'opp_team'},inplace=True)


home

away=df[df.VTM==df.TEAM_ABBREVIATION].reset_index(drop=True)
away.drop(columns='VTM',inplace=True)
away.rename(columns={'HTM':'opp_team'},inplace=True)

away

none=df[df.HTM.isna()].reset_index(drop=True)
#none.drop(columns=['VTM','HTM'],inplace=True)
print(none)
df=pd.concat([home,away,none])


oppframe=df[['TEAM_ID','date','opp_team']]
oppframe.dropna(subset='opp_team',inplace=True)
oppframe.drop_duplicates(inplace=True)
df.drop(columns='opp_team',inplace=True)

#df=df.merge(oppframe)
df

df=df.merge(oppframe,on=['TEAM_ID','date'],how='left')
df

46630
     PLAYER_ID             PLAYER_NAME  NICKNAME     TEAM_ID  \
0           76         Cedric Ceballos    Cedric  1610612756
1          916            Corie Blount     Corie  1610612747
2          112      Dontonio Wingfield  Dontonio  1610612757
3          695       Eldridge Recasner  Eldridge  1610612737
4         1114           Jaren Jackson     Jaren  1610612764
...        ...                     ...       ...         ...
3916   1641716           Jarace Walker    Jarace  1610612754
3917    203648  Thanasis Antetokounmpo  Thanasis  1610612749
3918   1630188             Jalen Smith     Jalen  1610612754
3919   1641716           Jarace Walker    Jarace  1610612754
3920   1630579            Jericho Sims   Jericho  1610612752

     TEAM_ABBREVIATION   AGE  GP  W  L  W_PCT  ...  CATCH_SHOOT_PTS  \
0                  PHX  27.0   1  1  0    1.0  ...              NaN
1                  LAL  28.0   1  1  0    1.0  ...              NaN
2                  POR  23.0   1  0  1    0.0  ...              NaN
3                  ATL  29.0   1  1  0    1.0  ...              NaN
4                  WAS  29.0   1  0  1    0.0  ...              NaN
...                ...   ...  .. .. ..    ...  ...              ...
3916               IND  20.0   1  1  0    1.0  ...              0.0
3917               MIL  31.0   1  0  1    0.0  ...              0.0
3918               IND  24.0   1  1  0    1.0  ...              0.0
3919               IND  20.0   1  1  0    1.0  ...              0.0
3920               NYK  25.0   1  0  1    0.0  ...              0.0

      NS_LT_06_PCT  LT_06_PCT  PLUSMINUS  FGM_LT_06   FREQ  FGA_LT_06  \
0              NaN        NaN        NaN        NaN    NaN        NaN
1              NaN        NaN        NaN        NaN    NaN        NaN
2              NaN        NaN        NaN        NaN    NaN        NaN
3              NaN        NaN        NaN        NaN    NaN        NaN
4              NaN        NaN        NaN        NaN    NaN        NaN
...            ...        ...        ...        ...    ...        ...
3916         0.579        0.0     -0.579        0.0  0.167        1.0
3917         0.693        0.0     -0.693        0.0  1.000        3.0
3918         0.590        0.4     -0.190        2.0  0.294        5.0
3919         0.579        0.0     -0.579        0.0  0.083        1.0
3920         0.679        0.5     -0.179        2.0  0.400        4.0

      PLAYER_POSITION  HTM  VTM
0                 NaN  NaN  NaN
1                 NaN  NaN  NaN
2                 NaN  NaN  NaN
3                 NaN  NaN  NaN
4                 NaN  NaN  NaN
...               ...  ...  ...
3916                F  NaN  NaN
3917                F  NaN  NaN
3918              F-C  NaN  NaN
3919                F  NaN  NaN
3920                C  NaN  NaN

[3921 rows x 320 columns]

/tmp/ipykernel_2309/3463383359.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oppframe.dropna(subset='opp_team',inplace=True)
/tmp/ipykernel_2309/3463383359.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oppframe.drop_duplicates(inplace=True)

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,NS_LT_06_PCT,LT_06_PCT,PLUSMINUS,FGM_LT_06,FREQ,FGA_LT_06,PLAYER_POSITION,HTM,VTM,opp_team
0,673,Alan Henderson,Alan,1610612737,ATL,24.0,1,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DET
1,183,Bison Dele,Bison,1610612741,CHI,28.0,1,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAS
2,2,Byron Scott,Byron,1610612747,LAL,36.0,1,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POR
3,363,Christian Laettner,Christian,1610612737,ATL,27.0,1,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DET
4,241,Darrin Hancock,Darrin,1610612737,ATL,25.0,1,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46625,1641716,Jarace Walker,Jarace,1610612754,IND,20.0,1,1,0,1.0,...,0.579,0.0,-0.579,0.0,0.167,1.0,F,NaN,NaN,MIL
46626,203648,Thanasis Antetokounmpo,Thanasis,1610612749,MIL,31.0,1,0,1,0.0,...,0.693,0.0,-0.693,0.0,1.000,3.0,F,NaN,NaN,IND
46627,1630188,Jalen Smith,Jalen,1610612754,IND,24.0,1,1,0,1.0,...,0.590,0.4,-0.190,2.0,0.294,5.0,F-C,NaN,NaN,NYK
46628,1641716,Jarace Walker,Jarace,1610612754,IND,20.0,1,1,0,1.0,...,0.579,0.0,-0.579,0.0,0.083,1.0,F,NaN,NaN,NYK
46629,1630579,Jericho Sims,Jericho,1610612752,NYK,25.0,1,0,1,0.0,...,0.679,0.5,-0.179,2.0,0.400,4.0,C,NaN,NaN,IND

In [10]:

df['team']=df['TEAM_ABBREVIATION']
teammap=dict(zip(df['TEAM_ABBREVIATION'],df['TEAM_ID']))


player_index = df[['PLAYER_NAME','PLAYER_ID','team','TEAM_ID','opp_team','year']]

player_index['opp_id']=player_index['opp_team'].map(teammap)
player_index.drop_duplicates(inplace=True)
player_index.to_csv('series_index_players.csv',index=False)

/tmp/ipykernel_2309/1326030641.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_index['opp_id']=player_index['opp_team'].map(teammap)
/tmp/ipykernel_2309/1326030641.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_index.drop_duplicates(inplace=True)

In [2]:
none2=df[df.opp_team.isna()]
df=df.dropna(subset='opp_team')
teammap=dict(zip(df['TEAM_ABBREVIATION'],df['TEAM_ID']))

df['opp_id']=df['opp_team'].map(teammap)
df.to_csv('playoff_data.csv',index=False)

/tmp/ipykernel_27700/2211292126.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['opp_id']=df['opp_team'].map(teammap)

In [3]:
df[df.TEAM_ABBREVIATION=='DET']
df['team']=df['TEAM_ABBREVIATION']

/tmp/ipykernel_27700/2916735606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['team']=df['TEAM_ABBREVIATION']

In [4]:
df.sort_values(by='date',inplace=True)

df['series_key']=df['team']+'_'+df['opp_team']+'_'+df['year'].astype(str)

/tmp/ipykernel_27700/3823595001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by='date',inplace=True)
/tmp/ipykernel_27700/3823595001.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['series_key']=df['team']+'_'+df['opp_team']+'_'+df['year'].astype(str)

In [5]:

series_index=df[['series_key','team','opp_team','TEAM_ID','opp_id','year']]
series_index.drop_duplicates(inplace=True)
series_index.to_csv('series_index.csv',index=False)

/tmp/ipykernel_27700/711117300.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_index.drop_duplicates(inplace=True)

In [6]:
for key in df['series_key'].unique():
    series=df[df.series_key==key]
    series.to_csv('data/'+key+'.csv',index=False)